trunk/ sistema-presupuesto/SistemaLiquidaciones/SistemaLiquidaciones/Service References/ProxyCentroGestor/CentroGestorSrv1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/LiquidacionServices.BE" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/LiquidacionServices.BE" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfCentroGestorBE">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CentroGestorBE" nillable="true" type="tns:CentroGestorBE" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCentroGestorBE" nillable="true" type="tns:ArrayOfCentroGestorBE" />
  <xs:complexType name="CentroGestorBE">
    <xs:sequence>
      <xs:element minOccurs="0" name="CENTROGESTOR" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CENTROGESTORID" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CentroGestorBE" nillable="true" type="tns:CentroGestorBE" />
</xs:schema>