 sistema-presupuesto/SistemaLiquidaciones/SistemaLiquidaciones/Service References/ProxyPresupuesto/PresupuestoSrv1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:50534/PresupuestoSrv.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/LiquidacionServices.BE" />
  <xs:element name="ConsultarPresupuestoDispo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CentroGestorId" type="xs:int" />
        <xs:element minOccurs="0" name="anho" type="xs:int" />
        <xs:element minOccurs="0" name="mes" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConsultarPresupuestoDispoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/LiquidacionServices.BE" minOccurs="0" name="ConsultarPresupuestoDispoResult" nillable="true" type="q1:ArrayOfPresupuestoBE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>