 sistema-presupuesto/SistemaLiquidaciones/SistemaLiquidaciones/Service References/ProxyGasto/GastoSrv1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/LiquidacionServices.BE" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/LiquidacionServices.BE" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="PresupuestoBE">
    <xs:sequence>
      <xs:element minOccurs="0" name="ANHO" type="xs:int" />
      <xs:element minOccurs="0" name="CENTROGESTOR" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CENTROGESTORID" type="xs:int" />
      <xs:element minOccurs="0" name="DETPRESUPUESTO" type="xs:int" />
      <xs:element minOccurs="0" name="EXCEDIDO" type="xs:boolean" />
      <xs:element minOccurs="0" name="MES" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MONTO" type="xs:double" />
      <xs:element minOccurs="0" name="MONTODISPONIBLE" type="xs:double" />
      <xs:element minOccurs="0" name="MONTOEXCEDIDO" type="xs:double" />
      <xs:element minOccurs="0" name="PARTIDA" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PARTIDAID" type="xs:int" />
      <xs:element minOccurs="0" name="PRESUPUESTOID" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PresupuestoBE" nillable="true" type="tns:PresupuestoBE" />
  <xs:complexType name="ArrayOfPresupuestoBE">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PresupuestoBE" nillable="true" type="tns:PresupuestoBE" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPresupuestoBE" nillable="true" type="tns:ArrayOfPresupuestoBE" />
</xs:schema>