trunk/ sistema-presupuesto/SistemaLiquidaciones/SistemaLiquidaciones/Service References/ProxyPartida/PartidaSrv1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:50534/PartidaSrv.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/LiquidacionServices.BE" />
  <xs:element name="ListarPartidas">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CentroGestorId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarPartidasResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/LiquidacionServices.BE" minOccurs="0" name="ListarPartidasResult" nillable="true" type="q1:ArrayOfPartidaBE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>