 sistema-presupuesto/SistemaLiquidaciones/SistemaLiquidaciones/Service References/ProxyCentroGestor/CentroGestorSrv.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:50534/CentroGestorSrv.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/LiquidacionServices.BE" />
  <xs:element name="ListarCentroGestor">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarCentroGestorResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/LiquidacionServices.BE" minOccurs="0" name="ListarCentroGestorResult" nillable="true" type="q1:ArrayOfCentroGestorBE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>